.App {
  text-align: center;
}

*
{
  box-sizing: border-box;
}
body
{
  background-color: #f4f1dc;
}
.anjum
{
  background:rgb(230, 230, 250);
  width: 30%;
  height: 30%;
  position: relative;
  left: 35%;
  border-radius: 0.5rem;
  box-shadow: 1rem 0rem 5rem palevioletred;
}
span
{
  text-shadow: 0.2rem 0.2rem 0.2rem goldenrod ;
  font-size: 3rem;
}